#info_section {
  background-image: asset-url("landing/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;

  .main__content {
    color: white;
    position: absolute;
    padding: calc(50vh - 100px) 5% 0 5%;
    width: 100%;
    max-width: 670px;

    p {
        font-size: 18px;
        margin: 1rem 0;
    }

    .flex {
        column-gap: 1rem;
    }
  }
}
