.welcome-image {
  min-height: 100vh;
  background-image: asset-url("landing/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 270px;

  .main_container {
    width: 1150px;
    margin: auto;
    display: flex;
  }

  .welcome-phrase {
    width: 484px;

    p {
      font-size: 24px;
      line-height: 29px;
    }

    button {
      margin: 5% 0;
    }
  }

  .welcome-picture {
    width: 650px;
    padding-bottom: 10%;
    
    .info {
      margin: 17% 0 5%;
      text-align: right;

      p {
        margin-bottom: unset;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #6278E0;          
      }
    }
  }

  @media (max-width: 1199px) {
    padding-top: unset;

    .main_container {
      width: 100%;
      padding: 100px 6% 10%;
    }

    .welcome-phrase {
      padding-top: 20vh;
      width: 100%;

      .center_button {
        text-align: center;
      }
      .row {
        text-align: center;
      }
    }

    h1 {
      font-size: 6vw;
    }
    p {
      font-size: 4vw;
    }
    
    .welcome-picture {
      display: none;
    }
  }

  @media (max-width: 450px) {
    .main_container {
      padding: 100px 4% 10%;
    }

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }
}
